[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
pytz = "*"
gspread = "*"
oauth2client = "*"
zappa = "*"
slackclient = "*"

[requires]
python_version = "3.6"
